<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybdash/css/appStyle.css') }}">
<!-- bloc pour charger le css approprié au template -->
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybdash/css/dashStyle.css') }}">
        {% endblock %}
<!-- bloc pour changer le titre de l'onglet du navigateur -->
        {% block title %}
            <title>Bureau</title>
        {% endblock %}
    </head>
    <body>
<!-- bloc pour le contenu du body -->
        {% block body %}
                <nav id="navPrincipal">
                    <div id="logoCentral"></div>
                </nav>
                <section id="bureau">
                    <!-- bloc pour la section -->
                    {% block section %}
                        <!-- menu des applications -->
                        <div id="listApp">
                            <a href="#"><div class="btnIxina menuApp btn"></div></a>
                            <a href="#"><div class="btnTellingStory menuApp police-menu btn">Telling Story</div></a>
                        </div>
                        <!-- Espace réservé à l'application Ixina -->
                        <!-- Menu Principal -->
                        <div id="ixinaApp">                      
                            <div class="ixinaAppMenu">
                                <a href="{{ path('yb_ixina_homepage') }}">
                                    <div id="iconeSiteIxina"></div>
                                </a>
                                <div class="intitule">
                                    Se rendre sur le site Ixina 
                                 </div>
                            </div> 
                            <div class="ixinaAppMenu">
                                <div id="iconeBdd"></div>
                                <div class="intitule">
                                    Gestion de la base de donnée
                                </div>
                            </div> 
                            <div class="ixinaAppMenu">
                                <div id="iconeGestionUser"></div>
                                <div class="intitule">
                                    Gestion des Utilisateurs
                                </div>
                            </div>       
                        </div>
                        <!-- Section Gestion des Utilisateurs -->
                        <div id="ixinaGestionUser">
                            <div class="ixinaUserMenu">
                                <a href="{{ path('yb_ixina_newUser') }}">
                                    <div id="iconeAjouter"></div>
                                </a>
                                <div class="intitule">
                                    Ajouter
                                </div>
                            </div>
                            <div class="ixinaUserMenu">
                                <div id="iconeModifier"></div>
                                <div class="intitule">
                                    Modifier
                                </div>
                            </div> 
                            <div class="ixinaUserMenu">
                                <div id="iconeSupprimer"></div>
                                <div class="intitule">
                                    Supprimer
                                </div>
                            </div>    
                        </div>
                    {% endblock %}
                </section>
                <nav id="navSecondaire"></nav>
        {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- bloc pour insérer le fichier javaScript personnel de la page -->
    {% block javaScript %}
        <script src="{{ asset('bundles/ybdash/js/dashJquery.js') }}" type="text/javascript" charset="utf-8" async defer></script>
    {% endblock %}
    </body>
</html>