{% extends "YBIxinaBundle::ixinaHome.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/blocTableau.css') }}">
{% endblock %}

{% block barreIcone %}
    <a id="iconeClientAjouter" href="{{ path('yb_ixina_newCustomer', {origine: 'tableau'}) }}"></a>
    <a id="iconeTacheAjouter" href="{{ path('yb_ixina_newNote') }}"></a>
    <a id="iconeTableauFermer" href="{{ path('yb_ixina_homepage') }}"></a>
{% endblock %}

{% block bloc %}
    <div id="blocTableau">
        <!-- entete pour date du jour -->
        <div id="enteteBlocTableau">
            <div style="margin: auto"><strong>Today : {{ today|date('d/m') }}</strong></div>
        </div>
        <!-- partie navigateur du tableau -->
        <div id="navBlocTableau">
            <div id="dashboardMois" class="iconeActif"></div>
            <div id="listeCompleteClient"></div>
        </div>
<!-- partie section anime en jquery en fonction du navBlocTableau -->
        <!-- section qui s'occupe de synthétiser les infos importante du mois en cours -->
        <div id="sectionDashboard">
            <div id="sectionG">
                <div id="listeClient">
                <ul>
                    {% for prospect in ClientsProspectsDuMois %}
                        <li>
                            <div id="origine" class="{% if today|date('m/y') != prospect.dateCreation|date('m/y') %}iconePortefeuille{% endif %}"></div>
                            <div id="LCNom">
                                <a href="{{ path('yb_ixina_modifCustomer', {id: prospect.id, origine: 'tableau'}) }}">{{ prospect.nom }}</a>
                            </div>
                            <div id="LCAction" style="{% if prospect.action == 'Retour' %} color: red; {% elseif prospect.action == "Relance" %} color: green; {% endif %} ">
                                {{ prospect.action }}
                            </div>
                            <div id="LCDateAction">
                                {{ prospect.dateProchaineAction|date('d/m')}}
                            </div>
                            <div id="LCBudget">
                                {% if prospect.action == 'Retour'%}
                                    {{ prospect.budgetClient }} €
                                {% endif %}
                            </div>
                            {% if prospect.dessin == false %}
                                <div id="iconeDessiner"></div>
                            {% endif %}
                            {% if prospect.preparation == false %}
                                <div id="iconePreparer"></div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
            <div id="sectionD">
                <div id="sectionD1">
                    <div id="sectionD1G">
                        <div class="sectionDTitre">Vendu</div>
                        <div>
                            <ul>
                            {% for client in ClientsVenduMois %}
                                <li><a href="{{ path('yb_ixina_modifCustomer', {id: client.id, origine: 'tableau'}) }}"> {{ client.nom }} </a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="sectionD1D">
                        <div class="sectionDTitre">Perdu</div>
                        <ul>
                            {% for client in ClientsPerdusDuMois %}
                                <li><a href="{{ path('yb_ixina_modifCustomer', {id: client.id, origine: 'tableau'}) }}"> {{ client.nom }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="sectionD2">
                    <div id="txConcret">Concrétisation : <strong>{{ TxConcret }} %</strong></div>
                </div>
            </div>
        </div> 
        <!-- section liste complète -->
        <div id="sectionListeComplet">
            <div id="sectionListeCompletContenant">
                <div id="intituleListeComplet">Liste de tous les clients / date de creation</div>
                <div id="listeComplet">
                    {% for client in clients %}
                        <div id="rowListeComplet">
                            <div style="width: 115px"><a href="{{ path('yb_ixina_modifCustomer', {'id': client.id, 'origine': 'tableau'}) }}">{{client.nom}}</a></div>
                            <div style="width: 100px">{{ client.dateCreation|date('d-m-y') }}</div>
                            <div style="width: 100px">{{ client.etatDossier }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

<!-- pied du tableau --> 

        <div id="footBlocTableau">
            <div id="foot1">
                <div id="nbrProspect">New Prospects : <strong>{{ nbrNewProspectDuMois }}</strong></div>
                <div id="portefeuille">Portefeulle : <strong>{{ portefeuille }} €</strong></div>
            </div>
            <div id="caPotentiel">
                CA prévisionnel : <strong>{{ CAPotentiel }} €</strong></br>
                (txConcret : 50 %, TVA : 20%)
            </div>
        </div>
            <!--
            
            --> 
    </div>
{% endblock %}

{% block javaScript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/ybixina/js/blocTableau.js') }}"></script>
{% endblock %}