{% extends "YBIxinaBundle::ixinaHome.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/blocDossier.css') }}">
{% endblock %}

{% block barreIcone %}
    <a id="iconeClientFermer" href=" {% if origine == 'new'%} {{ path('yb_ixina_homepage') }} {% elseif origine == 'tableau' %} {{ path('yb_ixina_tableau') }} {% elseif origine == 'quotidien' %} {{ path('yb_ixina_homepage') }}  {% endif %}"></a>
    <a id="iconeTacheAjouter" href="{{ path('yb_ixina_newNote') }}"></a>
    <a id="iconeTableauConsulter" href="{{ path('yb_ixina_tableau') }}"></a>
{% endblock %}

{% block bloc %}
{{ form_start(form) }}
<div id="blocDossier">
    <div id="sauvegarde">{{ form_widget(form.Enregister) }}</div> 
    <div id="entree" class="{% if entree is defined and entree == "new"%}new{% endif %}"></div>
        <!-- Dossier visible -->
            <!-- page de gauche -->
            <div id="pageGauche">
                <div id="bloc1G">
                    {% if client is defined and client.renovation == true %}
                        <span style="color: rgb(162, 66, 27)">Rénovation</span>
                    {% else %}
                        <span style="color: rgb(1, 73, 147)">Construction</span>
                    {% endif %}
                </div>
                <div id="bloc2G">
                        <div id="plan">
                            {% if client is defined %}
                                <img style="width: 100%; height: 100%; border-radius: 20px;"src="{{ asset(client.plan.getWebPath) }}">
                            {% endif %} 
                        </div> 
                    <div id="perspective"></div>
                </div>
                <div id="bloc3G">
                    <div class="rowBloc3">
                        <div class="colBloc3">
                            <div class="iconeBloc3 iconeConcurrence"></div>
                            <div class="texteBloc3">
                                <div>
                                    {% if client is defined %}
                                        {{ client.concurrence }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="colBloc3">
                            <div class="iconeBloc3 iconeDifference"></div>
                            <div class="texteBloc3">
                                <div>
                                    {% if client is defined %}
                                        {{ client.diffConcurrence }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rowBloc3">
                        <div class="colBloc3">
                            <div class="iconeDateDecision iconeBloc3"></div>
                            <div class="texteBloc3">
                                <div>
                                    {% if client is defined %}
                                        {{ client.dateDecision }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="colBloc3">
                            <div class="iconeMotivation iconeBloc3"></div>
                            <div class="texteBloc3">
                                <div>
                                    {% if client is defined %}
                                        {{ client.motifDecision }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bloc4G">
                    <div id="soncas">
                        {% if client is defined and client.profSecurite == true %}
                            <div>Sécurité </div>
                        {% endif %}
                        {% if client is defined and client.profOrgueil == true %}
                            <div>Orgueil</div>
                        {% endif %}
                        {% if client is defined and client.profNouveau == true %}
                            <div>Nouveauté</div>
                        {% endif %}
                        {% if client is defined and client.profConfort == true %}
                            <div>Confort</div>
                        {% endif %}
                        {% if client is defined and client.profArgent == true %}
                            <div>Argent</div>
                        {% endif %}
                        {% if client is defined and client.profSympa == true %}
                            <div>Sympathie</div>
                        {% endif %}
                    </div>

                    <div id="cab">
                        <div class="rowBloc4">
                            <div class="iconeBloc4 iconeStyle"></div>
                            <div class="texteBloc4">
                                <div>
                                    {% if client is defined %}
                                        {{ client.cabStyle }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div class="iconeBloc4 iconeMeuble"></div>
                            <div class="texteBloc4">
                                <div>
                                    {% if client is defined %}
                                        {{ client.cabMeuble }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div class="iconeBloc4 iconeElectro"></div>
                            <div class="texteBloc4">
                                <div>
                                    {% if client is defined %}
                                        {{ client.cabElectro }}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div class="iconeBloc4 iconePrestation"></div>
                            <div class="texteBloc4">
                                <div>   
                                    {% if client is defined %}
                                        {{ client.cabService }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div class="iconeBloc4 iconeMoi"></div>
                            <div class="texteBloc4">
                                <div>
                                    {% if client is defined %}
                                        {{ client.cabVendeur }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page de droite -->
            <div id="pageDroite">
                <div id="bloc1D">
                    <div id="logoClient"></div>
                    <div id="blocTexteBloc1D">
                        <div id="etatClient" class="rowBloc1D">
                            {% if client is defined %}
                                {{ client.etatDossier }}
                            {% endif %}
                        </div>
                        <div class="rowBloc1D">
                            {% if client is defined %}<span id="identiteClient">{{ client.nom }} </span> créé le <span id="dateCreation">{{ client.dateCreation|date('d/m/y') }}</span>{% endif %}
                        </div>
                    </div>
                </div>
                <div id="bloc2D">
                    <div id="coordClient">
                        <div class="rowBloc2D">
                            <div class="iconeBloc2D iconeTelephone"></div>
                            <div class="texteBloc2D">
                                {% if client is defined %}
                                    0{{ client.numTel }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="rowBloc2D">
                            <div class="iconeBloc2D iconeEmail"></div>
                            <div class="texteBloc2D">
                                {% if client is defined %}
                                    {{ client.email }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="rowBloc2D">
                            <div class="iconeBloc2D iconeAutre"></div>
                            <div class="texteBloc2D">
                                {% if client is defined %}
                                    {{ client.autreNum }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="adressClient">
                        <div class="rowBloc2D">
                            {% if client is defined %}
                                {{ client.livAd1}} 
                            {% endif %}
                        </div>
                        <div class="rowBloc2D">
                            {% if client is defined %}
                                {{ client.livAd2}}
                            {% endif %}
                        </div>
                        <div class="rowBloc2D">
                            {% if client is defined %}
                                {{ client.livCp }}  {{ client.livVille }}
                            {% endif %}
                        </div>
                    </div>
                    <div id="iconeLocalisation"></div>
                </div>
                <div id="bloc3D">
                    <div class="section3D">
                        <div>
                            {% if client is defined %}
                                {{ client.descriptionFinition }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="section3D">
                        <div>
                            {% if client is defined and client.four == true %}
                                Four </br>
                            {% endif %}
                            {% if client is defined and client.MicroOnde == true %}
                                Micro onde </br>
                            {% endif %}
                            {% if client is defined and client.plaqueCuisson == true %}
                                Plaque cuisson </br>
                            {% endif %}
                            {% if client is defined and client.hotte == true %}
                                Hotte </br>
                            {% endif %}
                            {% if client is defined and client.frigo == true %}
                                Frigo </br>
                            {% endif %}
                            {% if client is defined and client.laveVaisselle == true %}
                                Lave Vaisselle </br>
                            {% endif %}
                            {% if client is defined and client.laveLinge == true %}
                                Lave Linge </br>
                            {% endif %}
                            {% if client is defined and client.caveVin == true %}
                                Cave à vin </br>
                            {% endif %}
                            {% if client is defined and (client.evier is not null or client.mitigeur is not null) %}
                            </br> ------ </br>
                            {% endif %}
                            {% if client is defined and client.evier == true %}
                                Evier </br>
                            {% endif %}
                            {% if client is defined and client.mitigeur == true %}
                                Mitigeur </br>
                            {% endif %}
                            {% if client is defined and client.descriptionElectro is not null %}
                            </br> ------ </br>
                            {% endif %}
                            {% if client is defined %}
                                {{ client.descriptionElectro }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="section3D">
                        <div>
                            {% if client is defined %}
                                {{ client.pose }} </br>
                            {% endif %}
                            {% if client is defined and client.liv == true %}
                                livraison
                            {% else %}
                                Enlèvement
                            {% endif %}
                            {% if client is defined and client.descriptionTravaux is not null %}
                            </br> ------ </br>
                            {% endif %}
                            {% if client is defined %}
                                {{ client.descriptionTravaux }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="bloc4D">
                    <div class="section4Dbis">
                            <div id="nextRDV">
                                {% if client is defined %}
                                    {{ form_widget(form.action) }}
                                    {{ form_widget(form.dateProchaineAction) }}
                                {% endif %}
                            </div>
                    </div>
                    <div class="section4D">
                        <div class="iconeBloc4D iconeLivraison"></div>
                        <div class="texteBloc4D">
                            <div>
                                {% if client is defined %}
                                    {{ client.dateLivSouhaite|date('M/Y')}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="section4D">
                        <div class="iconeBudget iconeBloc4D"></div>
                        <div class="texteBloc4D">
                            <div>
                                {% if client is defined %}
                                    {{ client.budgetClient }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bloc5D">
                    <div>
                       {{ form_widget(form.actionRemarque)}}
                    </div>
                </div>
            </div>
        <!-- Partie saisie Coordonnées -->
            <!-- page de gauche -->
            <div id="pageGaucheCoordonnees">
                <div id="bloc1GC">
                    <div class="iconeAnnuler"></div>
                </div>
                <div id="bloc2GC">
                    <div>{{ form_label(form.etatDossier, "Situation du dossier :") }}{{ form_widget(form.etatDossier) }}</div>
                    <div>{{ form_label(form.dateCreation, "Date de Création :") }}{{ form_widget(form.dateCreation) }}</div>
                    <div>
                          <a href="{{ path('yb_ixina_deleteCustomer', {'id': client.id }) }}" style="color: red;">!! Supprimer !!</a>
                    </div>
                </div>
            </div>
            <!-- page de droite -->
            <div id="pageDroiteCoordonnees">
                <div id="bloc1DC">
                    <div id="logoBloc1DC"></div>
                    <div id="intituleBloc1DC">
                        Coordonnées
                    </div>
                   <!--<div class="iconeSauvegarder"></div>-->
                </div>
                <div class="blocDC" >
                    <div id="bloc2DC">
                        <div class="col1BlocDC">Nom</div>
                        <div class="col2BlocDC">{{ form_widget(form.nom) }}</div>
                    </div>
                </div>
                <div class="blocDC" id="bloc3DC">
                    <div class="rowBlocDC">
                        <div class="col1BlocDC iconeTelephone"></div>
                        <div class="col2BlocDC" >{{ form_widget(form.numTel) }}</div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC iconeEmail"></div>
                        <div class="col2BlocDC" >{{ form_widget(form.email) }}</div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC iconeAutre"></div>
                        <div class="col2BlocDC" >{{ form_widget(form.autreNum) }}</div>
                    </div>
                </div>
                <div class="blocDC" id="bloc4DC">
                    <div class="rowBlocDC">
                        <div class="col1BlocDC" id="localisationIcone"></div>
                        <div class="col2BlocDC">{{ form_widget(form.livAd1) }}</div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC"></div>
                        <div class="col2BlocDC">{{ form_widget(form.livAd2) }}</div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC"></div>
                        <div class="col2BlocDC" style="display: flex;">
                            <div id="cp">{{ form_widget(form.livCp) }}</div>
                            <div id="ville">{{ form_widget(form.livVille) }}</div>
                        </div>
                    </div>
                </div>
                <div id="navigationDroiteLogo"></div>
            </div>
        <!-- Partie saisie Projet -->
        <!-- page gauche -->
        <div id="pageGaucheProjet">
            <div id="bloc1GP">
                <div class="iconeAnnuler"></div>
            </div>
            <div id="bloc2GP">
                <div>{{ form_widget(form.Plan) }}</div>
            </div>
            <div id="bloc3GP">
                <div id="modeleBloc3GP"></div>
                <div id="planBloc3GP"></div>
            </div>
            <div id="bloc4GP"></div>
            <div id="bloc5GP">
                <div id="row1Bloc5GP">
                    <div class="formBloc5GP">
                        <div class="iconeLivraison iconeBloc5GP"></div>
                        <div class="champBloc5GP">{{ form_widget(form.dateLivSouhaite)}}</div>
                    </div>
                    <div class="formBloc5GP">
                        <div class="iconeBudget iconeBloc5GP"></div>
                        <div class="champBloc5GP">{{ form_widget(form.budgetClient) }}</div>
                    </div>
                </div>
                <div id="row2Bloc5GP">
                    <div class="formBloc5GP">
                        <div class="iconeDateDecision iconeBloc5GP"></div>
                        <div class="champBloc5GP">{{ form_widget(form.dateDecision)}}</div>
                    </div>
                </div>
                <div id="row3Bloc5GP">
                    <div class="formBloc5GP">
                        <div class="iconeMotivation iconeBloc5GP"></div>
                        <div class="champBloc5GP">{{ form_widget(form.motifDecision) }}</div>
                    </div>
                </div>
            </div>
            <div id="navigationGaucheProjetLogo"></div>
        </div>
        <!-- page droite -->
        <div id="pageDroiteProjet">
            <div id="bloc1DP">
                <div id="logoBloc1DC"></div>
                <div id="intituleBloc1DP">
                    Projet
                </div>
                <!--<div class="iconeSauvegarder"></div>-->
            </div>
            <div id="bloc2DP">
                <div>Finitions</div>
            </div>
            <div id="bloc3DP">
                <div id="col1Bloc3DP">
                    <div class="rowBloc3DP">
                        <div class="intituleBloc3DP">Modèle :</div>
                        <div class="champBloc3DP">{{ form_widget(form.modele) }}</div>
                    </div>
                    <div class="rowBloc3DP">
                        <div class="intituleBloc3DP">Plan W :</div>
                        <div class="champBloc3DP">{{ form_widget(form.planW) }}</div>
                    </div>
                    <div class="rowBloc3DP">
                        <div class="intituleBloc3DP">Poignée :</div>
                        <div class="champBloc3DP">{{ form_widget(form.poignee) }}</div>
                    </div>
                </div>
                <div id="col2Bloc3DP">{{ form_widget(form.descriptionFinition) }}</div>
            </div>
            <div id="bloc4DP">
                <div>Electroménager</div>
            </div>
            <div id="bloc5DP">
                <div id="row1Bloc5DP">
                    <div class="choixBloc5DP">{{ form_widget(form.four) }}</div>
                    <div class="champBloc5DP">{{ form_label(form.four) }}</div>
                    <div class="choixBloc5DP">{{ form_widget(form.microOnde) }}</div>
                    <div class="champBloc5DP">{{ form_label(form.microOnde) }}</div>
                    <div class="choixBloc5DP">{{ form_widget(form.evier) }}</div>
                    <div class="champBloc5DP">{{ form_label(form.evier) }}</div>
                </div>
                <div id="row2Bloc5DP">
                    <div class="choixBloc5DP">{{ form_widget(form.plaqueCuisson) }}</div>
                    <div class="champBloc5DP">{{ form_label(form.plaqueCuisson) }}</div>
                    <div class="choixBloc5DP">{{ form_widget(form.frigo) }}</div>
                    <div class="champBloc5DP">{{ form_label(form.frigo) }}</div>
                    <div class="choixBloc5DP">{{ form_widget(form.mitigeur) }}</div>
                    <div class="champBloc5DP">{{ form_label(form.mitigeur) }}</div>
                </div>
                <div id="row3Bloc5DP">
                    <div class="colBloc5DP" style="width: 67%;">
                        <div id="row4Bloc5DP">
                            <div class="choixBloc5R4DP">{{ form_widget(form.laveVaisselle) }}</div>
                            <div class="champBloc5R4DP">{{ form_label(form.laveVaisselle, 'L.V') }}</div>
                            <div class="choixBloc5R4DP">{{ form_widget(form.laveLinge) }}</div>
                            <div class="champBloc5R4DP">{{ form_label(form.laveLinge, 'L.L') }}</div>
                        </div>
                        <div id="row5Bloc5DP">
                            <div class="choixBloc5R4DP">{{ form_widget(form.hotte) }}</div>
                            <div class="champBloc5R4DP">{{ form_label(form.hotte) }}</div>
                            <div class="choixBloc5R4DP">{{ form_widget(form.caveVin) }}</div>
                            <div class="champBloc5R4DP">{{ form_label(form.caveVin, 'Cave') }}</div>
                        </div>
                    </div>
                    <div class="colBloc5DP" style="width: 33%;">
                        {{ form_widget(form.descriptionElectro) }}
                    </div>
                </div>
            </div>
            <div id="bloc6DP">
                <div>Prestation</div>
            </div>
            <div id="bloc7DP">
                <div id="col1Bloc7DP">
                    <div id="row0Col1Bloc7DP">{{ form_row(form.renovation) }}</div>
                    <div id="row1Col1Bloc7DP">{{ form_row(form.pose) }}</div>
                    <div id="row2Col1Bloc7DP">{{ form_label(form.liv, 'Livraison')}}{{ form_widget(form.liv) }}</div>
                </div>
                <div id="col2Bloc7DP">{{ form_widget(form.descriptionTravaux) }}</div>
            </div>
            <div id="navigationDroiteLogo2"></div>
        </div>
        <!-- Partie saisie Stratégie -->
        <!-- page gauche -->
        <div id="pageGaucheStrategie">
            <div class="iconeAnnuler"></div>
            <div id="bloc1GS">Fichier perspective</div>
            <div id="bloc2GS">
                <div id="planP"></div>
                <div id="planD"></div>
            </div>
            <div id="bloc3GS">
                <div id="soncasStrategie">
                    <div class="profil" id="securite">{{ form_widget(form.profSecurite) }} {{ form_label(form.profSecurite, "Sécurité")}} </div>
                    <div class="profil" id="orgueil">{{ form_widget(form.profOrgueil) }} {{ form_label(form.profOrgueil, "Orgueil")}}</div>
                    <div class="profil" id="nouveaute">{{ form_widget(form.profNouveau) }} {{form_label(form.profNouveau, "Nouveauté")}}</div>
                    <div class="profil" id="confort">{{ form_widget(form.profConfort) }} {{ form_label(form.profConfort, "Confort")}}</div>
                    <div class="profil" id="argent">{{ form_widget(form.profArgent) }} {{ form_label(form.profArgent, "Argent")}}</div>
                    <div class="profil" id="sympathie">{{ form_widget(form.profSympa) }} {{ form_label(form.profSympa, "sympathie")}}</div>
                </div>
                <div id="remarqueStrategie">{{ form_widget(form.descriptionProfil) }}</div>
            </div>
            <div id="navigationGaucheStrategieLogo"></div>
        </div>
        <!-- page droite -->
        <div id="pageDroiteStrategie">
            <div id="bloc1DS">
                <div id="logoBloc1DS"></div>
                <div id="intituleBloc1DS">
                    Stratégie
                </div>
                <!--<div class="iconeSauvegarder"></div>-->
            </div>
            <div id="bloc2DS"></div>
            <div id="bloc3DS">
                <div class="iconeStyle iconeBloc4"></div>
                <div>{{ form_widget(form.cabStyle) }}</div>
            </div>
            <div id="bloc4DS">
                <div class="iconeMeuble iconeBloc4"></div>
                <div>{{ form_widget(form.cabMeuble) }}</div>
            </div>
            <div id="bloc5DS">
                <div class="iconeElectro iconeBloc4"></div>
                <div>{{ form_widget(form.cabElectro) }}</div>
            </div>
            <div id="bloc6DS">
                <div class="iconePrestation iconeBloc4"></div>
                <div>{{ form_widget(form.cabService) }}</div>
            </div>
            <div id="bloc7DS">
                <div class="iconeMoi iconeBloc4"></div>
                <div>{{ form_widget(form.cabVendeur) }}</div>
            </div>
            <div id="bloc8DS"></div>
            <div id="bloc9DS">
                <div class="iconeConcurrence iconeBloc4"></div>
                <div id="concurrenceRemarque">{{ form_widget(form.concurrence)}}</div>
                <div class="tampon"></div>
                <div class="iconeDifference iconeBloc4"></div>
                <div id="differenceRemarque">{{ form_widget(form.diffConcurrence) }}</div>
            </div>
        </div>
</div>
<div style="display: none">{{ form_rest(form) }}</div>
{{ form_end(form) }}
{% endblock %}

{% block javaScript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/ybixina/js/blocDossier.js') }}"></script>
{% endblock %}