{% extends "YBIxinaBundle::ixinaHome.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/blocDossier.css') }}">
{% endblock %}

{% block barreIcone %}
    <a id="iconeClientFermer" href=" {% if origine == 'new'%} {{ path('yb_ixina_homepage') }} {% elseif origine == 'tableau' %} {{ path('yb_ixina_tableau') }} {% elseif origine == 'quotidien' %} {{ path('yb_ixina_homepage') }}  {% endif %}"></a>
    <a id="iconeTacheAjouter" href="{{ path('yb_ixina_newNote') }}"></a>
    <a id="iconeTableauConsulter" href="{{ path('yb_ixina_tableau') }}"></a>
{% endblock %}

{% block bloc %}
{{ form_start(form) }}

<div id="blocDossier">
        <!-- Dossier visible -->
            <!-- page de gauche -->
            <div id="pageGauche">
                <div id="bloc1G">Rénovation</div>
                <div id="bloc2G">
                    <div id="plan"></div>
                    <div id="perspective"></div>
                </div>
                <div id="bloc3G">
                    <div class="rowBloc3">
                        <div class="colBloc3">
                            <div id="iconeConcurrence" class="iconeBloc3"></div>
                            <div class="texteBloc3">
                                <div>cuisinella / Mobalpa / Eco-cuisine</div>
                            </div>
                        </div>
                        <div class="colBloc3">
                            <div id="iconeDifference" class="iconeBloc3"></div>
                            <div class="texteBloc3">
                                <div>La meilleure implantation</div>
                            </div>
                        </div>
                    </div>
                    <div class="rowBloc3">
                        <div class="colBloc3">
                            <div class="iconeDateDecision iconeBloc3"></div>
                            <div class="texteBloc3">
                                <div>Rapidement</div>
                            </div>
                        </div>
                        <div class="colBloc3">
                            <div class="iconeMotivation iconeBloc3"></div>
                            <div class="texteBloc3">
                                <div>Plan techniques avant fin avril</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bloc4G">
                    <div id="soncas">
                        <div>Sécurité </div>
                        <div>Confort </div>
                        <div>Orgeuil </div>
                        <div>Nouveauté</div>
                    </div>
                    <div id="cab">
                        <div class="rowBloc4">
                            <div id="iconeStyle" class="iconeBloc4"></div>
                            <div class="texteBloc4">
                                <div>Ilot original/Manger à 4</div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div id="iconeMeuble" class="iconeBloc4"></div>
                            <div class="texteBloc4">
                                <div>Casserolier / range épice / armoire pharmacie</div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div id="iconeElectro" class="iconeBloc4"></div>
                            <div class="texteBloc4">
                                <div>Bon moyen de gamme</div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div id="iconePrestation" class="iconeBloc4"></div>
                            <div class="texteBloc4">
                                <div>S'occuper de rien, bonne communication entres artisants</div>
                            </div>
                        </div>
                        <div class="rowBloc4">
                            <div id="iconeMoi" class="iconeBloc4"></div>
                            <div class="texteBloc4">
                                <div>Seul interlocuteur</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page de droite -->
            <div id="pageDroite">
                <div id="bloc1D">
                    <div id="logoClient"></div>
                    <div id="blocTexteBloc1D">
                        <div id="etatClient" class="rowBloc1D">Prospect</div>
                        <div class="rowBloc1D"><span id="identiteClient">Biot Yannick   </span> créé le <span id="dateCreation">   02/02/2018</span></div>
                    </div>
                </div>
                <div id="bloc2D">
                    <div id="coordClient">
                        <div class="rowBloc2D">
                            <div class="iconeBloc2D iconeTelephone"></div>
                            <div class="texteBloc2D">06.10.32.77.02</div>
                        </div>
                        <div class="rowBloc2D">
                            <div class="iconeBloc2D iconeEmail"></div>
                            <div class="texteBloc2D">yannick.b64@hotmail.fr</div>
                        </div>
                        <div class="rowBloc2D">
                            <div class="iconeBloc2D iconeAutre"></div>
                            <div class="texteBloc2D">architecte : 0559102158</div>
                        </div>
                    </div>
                    <div id="adressClient">
                        <div class="rowBloc2D">33 rue de monpezat </div>
                        <div class="rowBloc2D">2em étage</div>
                        <div class="rowBloc2D">64000  Pau</div>
                    </div>
                    <div id="iconeLocalisation"></div>
                </div>
                <div id="bloc3D">
                    <div class="section3D">
                        <div>
                            Modèle modena </br>
                            pw : arizona</br>
                            poignée 211</br>
                            menuiserie noirs</br>
                            mur rouge</br>
                            table séjour bois marron</br>
                        </div>
                    </div>
                    <div class="section3D">
                        <div>
                            Four</br>
                            Plaque de cuisson</br>
                            Lave vaisselle</br>
                            Hotte</br>
                            ----</br>
                            evier </br>
                            mitigeur</br>
                        </div>
                    </div>
                    <div class="section3D">
                        <div>
                            pose </br>
                            livraison
                        </div>
                    </div>
                </div>
                <div id="bloc4D">
                    <div class="section4D">
                        <div id="iconeNext" class="iconeBloc4D"></div>
                        <div class="texteBloc4D">
                            <div id="nextRDV">12/03</div>
                        </div>
                    </div>
                    <div class="section4D">
                        <div class="iconeBloc4D iconeLivraison"></div>
                        <div class="texteBloc4D">
                            <div>06/2018</div>
                        </div>
                    </div>
                    <div class="section4D">
                        <div class="iconeBudget iconeBloc4D"></div>
                        <div class="texteBloc4D">
                            <div>7000€</div>
                        </div>
                    </div>
                </div>
                <div id="bloc5D">
                    <div>
                        Au prochain rendez-vous les clients sont prêt à se décider à condition de respecter les critères 
                        demandés comme le budget et le fait de pouvoir manger à 4 dans la cuisine à hauteur d'ilot.
                        Ils auront vu toutes la concurrence à moi de jouer !
                    </div>
                </div>
            </div>
        <!-- Partie saisie Coordonnées -->
            <!-- page de gauche -->
            <div id="pageGaucheCoordonnees">
                <div id="bloc1GC">
                    <div id="iconeAnnuler"></div>
                </div>
            </div>
            <!-- page de droite -->
            <div id="pageDroiteCoordonnees">
                <div id="bloc1DC">
                    <div id="logoBloc1DC"></div>
                    <div id="intituleBloc1DC">
                        Coordonnées
                    </div>
                    <div id="iconeSauvegarder"></div>
                </div>
                <div class="blocDC" >
                    <div id="bloc2DC">
                        <div class="col1BlocDC">Nom :</div>
                        <div class="col2BlocDC"></div>
                    </div>
                </div>
                <div class="blocDC" id="bloc3DC">
                    <div class="rowBlocDC">
                        <div class="col1BlocDC iconeTelephone"></div>
                        <div class="col2BlocDC"></div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC iconeEmail"></div>
                        <div class="col2BlocDC"></div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC iconeAutre"></div>
                        <div class="col2BlocDC"></div>
                    </div>
                </div>
                <div class="blocDC" id="bloc4DC">
                    <div class="rowBlocDC">
                        <div class="col1BlocDC" id="localisationIcone"></div>
                        <div class="col2BlocDC"></div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC"></div>
                        <div class="col2BlocDC"></div>
                    </div>
                    <div class="rowBlocDC">
                        <div class="col1BlocDC"></div>
                        <div class="col2BlocDC"></div>
                    </div>
                </div>
                <div id="navigationDroiteLogo"></div>
            </div>
        <!-- Partie saisie Projet -->
        <!-- page gauche -->
        <div id="pageGaucheProjet">
            <div id="bloc1GP">
                <div id="iconeAnnuler"></div>
            </div>
            <div id="bloc2GP"></div>
            <div id="bloc3GP">
                <div id="modeleBloc3GP"></div>
                <div id="planBloc3GP"></div>
            </div>
            <div id="bloc4GP"></div>
            <div id="bloc5GP">
                <div id="row1Bloc5GP">
                    <div class="formBloc5GP">
                        <div class="iconeLivraison iconeBloc5GP"></div>
                        <div class="champBloc5GP"></div>
                    </div>
                    <div class="formBloc5GP">
                        <div class="iconeBudget iconeBloc5GP"></div>
                        <div class="champBloc5GP"></div>
                    </div>
                </div>
                <div id="row2Bloc5GP">
                    <div class="formBloc5GP">
                        <div class="iconeDateDecision iconeBloc5GP"></div>
                        <div class="champBloc5GP"></div>
                    </div>
                </div>
                <div id="row3Bloc5GP">
                    <div class="formBloc5GP">
                        <div class="iconeMotivation iconeBloc5GP"></div>
                        <div class="champBloc5GP"></div>
                    </div>
                </div>
            </div>
            <div id="navigationGaucheProjetLogo"></div>
        </div>
        <!-- page droite -->
        <div id="pageDroiteProjet">
            <div id="bloc1DP">
                <div id="logoBloc1DC"></div>
                <div id="intituleBloc1DP">
                    Projet
                </div>
                <div id="iconeSauvegarder"></div>
            </div>
            <div id="bloc2DP">
                <div>Finitions</div>
            </div>
            <div id="bloc3DP">
                <div id="col1Bloc3DP">
                    <div class="rowBloc3DP">
                        <div class="intituleBloc3DP"></div>
                        <div class="champBloc3DP"></div>
                    </div>
                    <div class="rowBloc3DP">
                        <div class="intituleBloc3DP"></div>
                        <div class="champBloc3DP"></div>
                    </div>
                    <div class="rowBloc3DP">
                        <div class="intituleBloc3DP"></div>
                        <div class="champBloc3DP"></div>
                    </div>
                </div>
                <div id="col2Bloc3DP"></div>
            </div>
            <div id="bloc4DP">
                <div>Electroménager</div>
            </div>
            <div id="bloc5DP">
                <div id="row1Bloc5DP">
                    <div class="choixBloc5DP"></div>
                    <div class="champBloc5DP"></div>
                    <div class="choixBloc5DP"></div>
                    <div class="champBloc5DP"></div>
                    <div class="choixBloc5DP"></div>
                    <div class="champBloc5DP"></div>
                </div>
                <div id="row2Bloc5DP"></div>
                <div id="row3Bloc5DP">
                    <div class="colBloc5DP">
                        <div id="row4Bloc5DP"></div>
                        <div id="row5Bloc5DP"></div>
                    </div>
                    <div class="colBloc5DP"></div>
                </div>
            </div>
            <div id="bloc6DP">
                <div>Prestation</div>
            </div>
            <div id="bloc7DP"></div>
        </div>
</div>
{% endblock %}

{% block javaScript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/ybixina/js/blocDossier.js') }}"></script>
{% endblock %}