{% extends "YBIxinaBundle::ixinaHome.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/formSuivi.css') }}">
{% endblock %}

{% block barreIcone %}
    <a id="iconeClientFermer" href=" {% if origine == 'new'%} {{ path('yb_ixina_homepage') }} {% elseif origine == 'tableau' %} {{ path('yb_ixina_tableau') }} {% elseif origine == 'quotidien' %} {{ path('yb_ixina_homepage') }}  {% endif %}"></a>
    <a id="iconeTacheAjouter" href="{{ path('yb_ixina_newNote') }}"></a>
    <a id="iconeTableauConsulter" href="{{ path('yb_ixina_tableau') }}"></a>
{% endblock %}

{% block bloc %}
{{ form_start(form) }}
    <div id="formVente">
        {{ form_row(form.montantVenteHt)}}
        {{ form_row(form.dateLivSouhaite) }}
        {{ form_row(form.montantAcompte) }}
    </div>
    <div id="formVerif">
        {{ form_row(form.numTel) }}
        {{ form_row(form.email) }}
        {{ form_row(form.livAd1) }}
        {{ form_row(form.livAd2) }}
        {{ form_row(form.livVille) }}
        {{ form_row(form.livCp) }}
        {{ form_row(form.renovation) }}
        {{ form_row(form.dateLivSouhaite) }}
        {{ form_row(form.pose) }}
        {{ form_row(form.liv) }}
        {{ form_row(form.granite) }}
    </div>
    <div id="formSuivi">
        {{ form_row(form.fairePlanTech) }}
        {{ form_row(form.faireFactureAcompte) }}
        {{ form_row(form.faireRelanceCheque) }}
    </div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javaScript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/ybixina/js/formSuivi.js') }}"></script>
{% endblock %}