{% extends "YBIxinaBundle::ixinaHome.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/consultTacheParticuliere.css') }}">
{% endblock %}

{% block barreIcone %}
    <a id="iconeClientAjouter" href="{{ path('yb_ixina_newCustomer', {origine: 'new' }) }}"></a>
    <a id="iconeTacheFermer" href="{{ path('yb_ixina_homepage') }}"></a>
    <a id="iconeTableauConsulter" href="{{ path('yb_ixina_tableau') }}"></a>
{% endblock %}

{% block bloc %}
    <div id="blocNote">
        <div id="hautpage"></div>
        <div id="contenant">
              {% for tache in taches %}
                <div style="margin-top: 10px;">
                    <a href="{{ path('yb_ixina_consultTacheParticuliere', {'id': tache.id }) }}" style="font-weight: bold; color: orange">{{ tache.intitule }}</a>
                    <div>{{ tache.details }}</div>
                </div>
              {% endfor %}
        </div>    
        <div id="baspage">
            <div id="texte">Liste Tâches</div>
            <a id="iconeNavigation" href="{{ path('yb_ixina_newTacheParticuliere') }}"></a>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
{{ parent() }}
{% endblock %}