{% extends "YBIxinaBundle::ixinaHome.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/listeDossierMetre.css') }}">
{% endblock %}

{% block barreIcone %}
    <a id="iconeClientAjouter" href="{{ path('yb_ixina_newCustomer', {origine: 'new' }) }}"></a>
    <a id="iconeTacheFermer" href="{{ path('yb_ixina_homepage') }}"></a>
    <a id="iconeTableauConsulter" href="{{ path('yb_ixina_tableau') }}"></a>
{% endblock %}

{% block bloc %}
    <div id="blocNote">
        <div id="hautpage"></div>
        <div id="contenant">
              {% for dossier in dossiers %}
                <a href="{{ path('yb_ixina_modifDossierMetre', {'id': dossier.id }) }}">{{ dossier.nom }}</a>
              {% endfor %}
        </div>    
        <div id="baspage">
            <div id="texte">Dossiers Métré à faire</div>
            <a id="iconeNavigation" href="{{ path('yb_ixina_newDossierMetre') }}"></a>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
{{ parent() }}
{% endblock %}