{# j'hérite de mon template de base dans le bundle Dash de mon application  #} 

{% extends "YBDashBundle::DashLayout.html.twig" %}

{# css #}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ybixina/css/bureau.css') }}">
{% endblock %}

{# title #}

{% block title %}

{% endblock %}

{# body #}

{% block body %}

	<div id="bureau">
        <div id="barreIcone">
            {% block barreIcone %}
            <a id="iconeClientAjouter" href="{{ path('yb_ixina_newCustomer', {origine: 'new'}) }}"></a>
            <a id="iconeTacheAjouter" href="{{ path('yb_ixina_newNote') }}"></a>
            <a id="iconeTableauConsulter" href="{{ path('yb_ixina_tableau') }}"></a>
            <!--
            <a id="iconeTableauFermer"></a>
            <a id="iconeClientFermer"></a>
            <a id="iconeTacheFermer"></a>
            -->
            {% endblock %}
        </div>
        {% block bloc %}
            {% for client in clientsToday %}
                <div id="{{ client.id }}" class="blocInfo">
                    <div id="clientTel">
                        Tèl : 0{{ client.numTel }}
                    </div>
                    <div id="clientPlan">
                        <img style="height: 100%" src="{{ asset(client.plan.getWebPath) }}">
                    </div>
                    <div id="clientContenu">
                        {% if client.renovation == true %}Rénovation : TVA 10% {% endif %}    
                    </br>
                        Meuble
                        {% if client.electro == true %}/Electro {% endif %}
                        {% if client.pose == true %}/Pose {% endif %}
                        {% if client.liv == true %}/Livraison {% endif %}
                        {% if client.autre == true %}/Autre {% endif %}
                    </div>
                    <div id="clientBudget">
                        <div id="clientBudgetSouhaite">Budget Client : {{ client.budgetClient }}€</div>
                        <div id="clientBudgetReel">Coût projet : {{ client.budgetAnnonce }}€</div>
                    </div>
                    <div id="clientDelais">
                        Livraison : {{ client.dateLivSouhaite|date('M/Y')}} </br>
                        {{ client.dramaDate }}
                    </div>
                    <div id="clientAction">
                        {{ client.action }}</br>
                        {{ client.actionRemarque }}
                    </div>
                </div>
            {% endfor %}
            <div id="blocQuotidien">
                <ul>
                    {% for client in clientsToday %}
                        <li>
                            <a class="{{ client.id }}" href="{{ path('yb_ixina_modifCustomer', {id: client.id, origine: 'quotidien'}) }}">
                            {{ client.nom }} 
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
	</div>
{% endblock %}

{# javaScript #}

{% block javaScript %}
	<script src="{{ asset('bundles/ybixina/js/bureau.js') }}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}